* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}
.tela {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  background-color: #a4aaee7a;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.25);
  padding: 15px 0 15px 0;
  gap: 12px;
  justify-content: start;
  align-items: center;
}

.titulo {
  color: #030303;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}
.formulario {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.entradas {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.entryEmail {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 4px;
}
.email {
  width: 296px;
  height: 42px;
  padding: 0px 8px;
  border: 1px solid #a4aaee7a;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #ececec;
  font-size: 14px;
  line-height: 42px;
  outline: none;
  transition: all 0.1s ease-in-out;
}
.email:focus {
  transform: scale(1.02);
  box-shadow: 2px 2px 3px #5a5959;
}
.entrySenha {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 4px;  
}
.senha {
  width: 296px;
  height: 42px;
  padding: 0px 8px;
  border: 1px solid #a4aaee7a;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #ececec;
  font-size: 14px;
  line-height: 42px;
  outline: none;
  transition: all 0.1s ease-in-out;
}
.senha:focus {
  transform: scale(1.02);
  box-shadow: 2px 2px 3px #5a5959;
}
.enviar {
  cursor: pointer;
  width: 296px;
  height: 40px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #5664f5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  outline: none;
  transition: all 0.2s ease;
}
.enviar:hover {
  transform: scale(1.05);
  background-color: #2c39c0;
}
.esqueceu {
  color: #030303;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}